.welfare-card {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.join-desc {
  div {
    margin: 10px 0;
  }
}