
.price-container {
  background: #F2F7FA;
  padding: 0 0 4px;
}

.price-wrap {
  background: #fff;
}

.guide {
  border-radius: 10px;
  padding: 45px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.price-banner {
  background-size: cover;
}

.price-card {
  border-radius: 24px;
  background: #fff;
  padding: 50px;
  display: flex;
  min-height: 344px;
  cursor: pointer;

  &.active {
    border-top: 10px solid #1076FE;
    min-height: 384px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.price-select {
  background: #fff;
  padding: 85px 35px;
}

.price-select-card {
  padding: 50px 30px;
  border-radius: 10px;
  border: 2px solid #EDEDED;
  cursor: pointer;
}

.price-select-card:hover {
  border: 2px solid #1076FE;
  color: #1076FE;
}

.price-select-img {
  width: 100%;
  height: 129px;
}

.package {
  background: #fff;
  padding: 30px;
}

.package-banner {
  height: 210px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 30px;
  color: #fff;

  .idem-title {
    color: #fff;
  }

  .idem-desc {
    color: #fff;
  }

  .com {
    font-size: 24px;
    color: #0086F1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.package-item {
  height: 420px;
  padding: 30px;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  position: relative;


  &:hover {
    color: #fff;

    &::before {
      opacity: 1;
    }

    .idem-sub-desc {
      color: #fff !important;
    }

    .btn {
      background: #fff;
      border: 2px solid transparent;
    }
  }

  &::before {
    border-radius: 8px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s linear;
    background: linear-gradient(to bottom, rgb(149, 220, 250), rgb(56, 119, 245));
    opacity: 0;
  }

  .btn {
    margin-top: auto;
    border-radius: 50px;
    height: 46px;
    border: 2px solid #55ABEB;
    color: #4EA1DF;

    &:hover {
      background: linear-gradient(to right, #FD7948, #F85568);;
    }
  }
}

.package-title {
  margin-bottom: 25px;
}

.package-price {
  font-size: 36px;

  span {
    color: #FD7948;
  }
}

.price-first, .price-second {
  display: none;

  &.active {
    display: block;
  }
}

.package-job-items {
  width: 140px;
}

.package-job-item {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  margin-bottom: 10px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 8px;
  }
}