.product-content {
  background: #fff;
}

.product-tag {
  height: 392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.product-item-card {
  border: 1px solid #EDEDED;
  padding: 18px 25px 18px;
  margin-bottom: 20px;
  cursor: pointer;


  &:hover {
    border: 1px solid #1076fe;

    a {
      color: #1076fe !important;
    }
  }
}

.product-item-card-title {
  color: #333;
  font-size: 18px;
  margin-bottom: 18px;
}

.product-item-card a {
  color: #333;
  text-decoration: none;
}

.product-item-card-desc {
  color: #8c8c8c;
  font-size: 14px;
  height: 42px;
  overflow: hidden;
  margin-bottom: 20px;
}
